body{
  color:white;
  background:#999999;
}
#weather-container {
  text-align: center;
  
}

#location-container {
  margin-top: 20px;
}

#location-input {
  border: 5px solid black;
  padding: 5px;
}

#submit-btn {
  padding: 5px 10px;
  margin-left: 10px;
  background: black;
  color:white;
}

#weather-info {
  margin-top: 20px;
}

#current-weather {
  font-weight: bold;
}

#forecast-weather {
  margin-top: 10px;
}